
{% for article in news %}

    <div class="content-block-one">
        <h1>{{ article.titre }}</h1>
        <p>{{ article.soustitre }}</p>
        <div class="row text-center"><br><a href="{{ article.url  }}" class="btn-lg {{ article.lienStyle  }}" >{{ article.lien  }}</a></div>
    </div>
        <div class="content-space-{{ loop.index }}" >
            {% if article.legendePhoto is not empty %}
            <div class="text-center">
                <h1 style="color:white">{{ article.legendePhoto }}</h1>
                <div class="page-break"></div>
                <p style="color:white">{{ article.sousLegendePhoto }}</p>
            </div>
            {% endif %}
        </div>
<style>
    .content-space-{{ loop.index }} {
        padding: 0px;
        margin-bottom: 0px;
        color: inherit;
        background: url({{ pathDefault~article.getWebPath }}) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        padding-top: 190px;
        padding-bottom: 190px;
    }
</style>

{% endfor %}

