{% extends "::layout/layoutAdmin.html.twig" %}

{% block body -%}
    <h1>Liste des slides homepage</h1>

    <table class="table table-striped table-hover">
        <thead>
            <tr>

                <th>Genre</th>
                <th>Titre</th>
                <th>Sous titre</th>
                <th>Lien</th>
                <th>style du lien</th>
                <th>Parution début</th>
                <th>Parution fin</th>
                <th>Ordre</th>
                <th>Image</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>


                <td>{{ entity.genre }}</td>
                <td>{{ entity.titre }}</td>
                <td>{{ entity.soustitre }}</td>
                <td>{{ entity.lien }}<br>url : <a href="{{ entity.url }}" target="_blank"> {{ entity.url }}</a><br>Destination : {{ entity.lienTarget }}</td>
                <td>{{ entity.lienStyle }}</td>
                <td>{% if entity.dateParutionDebut %}{{ entity.dateParutionDebut|date('d-m-Y') }}{% endif %}</td>
                <td>{% if entity.dateParutionFin %}{{ entity.dateParutionFin|date('d-m-Y') }}{% endif %}</td>
                <td>{{ entity.ordre }}</td>
                <td><img src="{{ pathDefault ~ entity.getWebPath }}" width="400"><br>Légende : {{ entity.legendePhoto }} | {{ entity.sousLegendePhoto }}</td>
                <td>

                        <a href="{{ path('admin_slides_show', { 'id': entity.id }) }}"><i class="glyphicon glyphicon-info-sign"></i></a>

                        <a href="{{ path('admin_slides_edit', { 'id': entity.id }) }}"><i class="glyphicon glyphicon-edit"></i></a>

                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


            <a href="{{ path('admin_slides_new') }}" class="btn btn-primary">
                Ajouter un slide
            </a>

    {% endblock %}
